@font-face {
  font-family: "iconfont"; /* Project id 4581736 */
  src: url('iconfont.woff2?t=1718872545569') format('woff2'),
       url('iconfont.woff?t=1718872545569') format('woff'),
       url('iconfont.ttf?t=1718872545569') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-open:before {
  content: "\e618";
}

.icon-close:before {
  content: "\e82c";
}

.icon-Blog:before {
  content: "\e60e";
}

.icon-zhuanti:before {
  content: "\e64b";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-delete_light:before {
  content: "\e7ed";
}

.icon-account:before {
  content: "\e672";
}

.icon-check_code:before {
  content: "\e65a";
}

.icon-password:before {
  content: "\e82b";
}

